# Coursera - Analyzing criminal incident data

## Install the RKernel

In [ ]:
IRkernel::installspec()

## Load libraries

In [26]:
library(lubridate) 
library(ggplot2)

ERROR: Error in library(lubridate): there is no package called ‘lubridate’

## The questions that will be answered

In [ ]:

# For either city, how do incidents vary by time of day? 
# Which incidents are most common in the evening? 
# During what periods of the day are robberies most common?

## Read the Data

In [69]:
san.data <- read.csv("assignment6/sanfrancisco_incidents_summer_2014.csv")

In [94]:
time.san <- san.data$Time
kaas <- (strptime(time.san, "%H:%M"))
timetable <- as.data.frame(table(kaas$hour))

repData <- (seat.data$Date.Reported)
time <- (strptime(repData, "%m/%d/%Y %I:%M:%S %p"))
timetable$new <- table(time$hour)

names(timetable.san) <- c("Hours", "Inc.San", "Inc.")

#names(time.table) <- c("Hours", "NumberOfIncidents")

#ggplot(timetable.san, aes(Hours)) + geom_line() + ggtitle("Plot of the number of incidents for each hour") 
#p1

#p <- ggplot(time.table, aes(Hours, NumberOfIncidents)) + geom_line() + ggtitle("Plot of the number of incidents for each hour") 
#p + labs( xlab ="Hours", ylab = "# Incidents" )
#p 
#timetable.san

#ggplot(df, aes(x)) +                    # basic graphical object
 # geom_line(aes(y=y1), colour="red") +  # first layer
  #geom_line(aes(y=y2), colour="green")

  Var1 Freq new
1    0 1381 889
2    1  821 709
3    2  654 680
4    3  413 454
5    4  245 431
6    5  292 425

In [3]:
seat.data <- read.csv("assignment6/seattle_incidents_summer_2014.csv")

[1] 06/28/2015 10:31:00 AM 06/24/2015 11:09:00 AM 06/22/2015 09:22:00 AM
[4] 06/21/2015 03:52:00 PM 06/20/2015 11:59:00 AM 06/19/2015 02:55:00 PM
15766 Levels: 01/02/2015 11:12:00 AM ... 12/29/2014 11:43:00 AM

Don't know how to automatically pick scale for object of type data.frame. Defaulting to continuous.
Don't know how to automatically pick scale for object of type uneval. Defaulting to continuous.

ERROR: Error in as.data.frame.default(x[[i]], optional = TRUE, stringsAsFactors = stringsAsFactors): cannot coerce class ""uneval"" to a data.frame

Don't know how to automatically pick scale for object of type data.frame. Defaulting to continuous.
Don't know how to automatically pick scale for object of type uneval. Defaulting to continuous.

ERROR: Error in as.data.frame.default(x[[i]], optional = TRUE, stringsAsFactors = stringsAsFactors): cannot coerce class ""uneval"" to a data.frame

ERROR: Error in file(con, "rb"): cannot open the connection

plot without title

In [3]:
head(seat.data)

  RMS.CDW.ID General.Offense.Number Offense.Code Offense.Code.Extension
1     483839             2015218538         2202                      0
2     481252             2015213067         2610                      0
3     481375             2015210301         2316                      0
4     481690             2015209327         2599                      0
5     478198             2015207880         2399                      3
6     480485             2015904103         2308                      0
          Offense.Type Summary.Offense.Code Summarized.Offense.Description
1   BURGLARY-FORCE-RES                 2200                       BURGLARY
2 FRAUD-IDENTITY THEFT                 2600                          FRAUD
3           THEFT-MAIL                 2300                     MAIL THEFT
4          COUNTERFEIT                 2500                    COUNTERFEIT
5            THEFT-OTH                 2300                 OTHER PROPERTY
6       THEFT-BUILDING                 2300                 OTHER PROPERTY
           Date.Reported Occurred.Date.or.Date.Range.Start
1 06/28/2015 10:31:00 AM            06/28/2014 10:31:00 AM
2 06/24/2015 11:09:00 AM            06/01/2014 12:00:00 AM
3 06/22/2015 09:22:00 AM            08/31/2014 09:00:00 AM
4 06/21/2015 03:52:00 PM            06/20/2014 01:38:00 PM
5 06/20/2015 11:59:00 AM            06/01/2014 11:59:00 AM
6 06/19/2015 02:55:00 PM            06/19/2014 02:45:00 PM
  Occurred.Date.Range.End       Hundred.Block.Location District.Sector
1  06/28/2015 10:31:00 AM        6XX BLOCK OF NW 74 ST               J
2  06/24/2015 11:09:00 AM        23XX BLOCK OF 43 AV E               C
3                               81XX BLOCK OF 11 AV SW               F
4                                 6XX BLOCK OF PINE ST               M
5  11/01/2014 12:00:00 PM 77XX BLOCK OF SUNNYSIDE AV N               J
6  07/10/2014 02:45:00 PM 35XX BLOCK OF S FERDINAND ST               R
  Zone.Beat Census.Tract.2000 Longitude Latitude                       Location
1        J2          2900.301 -122.3647 47.68252  (47.68252427, -122.364671996)
2        C2          6300.100 -122.2771 47.63990 (47.639900761, -122.277080248)
3        F3         11300.501 -122.3493 47.52923 (47.529232299, -122.349312181)
4        M2          8200.100 -122.3348 47.61237 (47.612368448, -122.334817763)
5        J3          2700.202 -122.3294 47.68596 (47.685959879, -122.329378505)
6        R3         10300.401 -122.2875 47.55785 (47.557854802, -122.287477902)
  Month Year
1     6 2014
2     6 2014
3     8 2014
4     6 2014
5     6 2014
6     6 2014

In [ ]:
ggplot(seat.data, aes(Date, Views)) + geom_line() +
  scale_x_date(format = "%b-%Y") + xlab("") + ylab("Daily Views")

In [ ]:
head(san.data)